body  {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: $background-color;

  #wrapper {
    width: 96%;
    margin: 0 auto;
    // padding-top: 50px;
  }

  a {
    text-decoration: none;
    &:visited {
      color: blue;
    }
  }
  header {
    background-color: white;
    border-bottom: 2px solid rgb(255, 140, 0);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: rgb(35,31,32);
    // position: fixed;
    // top: 0;
    a {
      display: inline-block;
      color: rgb(35,31,32);
      padding: 15px;
      &:visited {
        color: rgb(35,31,32);
      }
    }
    #site_title {
      float: left;
    }
    nav {
      float: left;
    }
    #search_bar {
      // float: left;
      form {
        display: inline-block;
      }
      #q_content_or_user_name_cont {
        color:  rgb(35,31,32);
      }
      #search_submit_button {
        display: inline-block;
      } 
    }
    #right_menu {
      float: right;
    }
  }
  main {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    // border: 1px solid black;
    #display_methods {
      a {
        display: inline-block;
       
      }
    }
    .cheerup {
      // width: 400px;
      // height: 170px;
      background-color: white;
      // border: 1px solid lightgray;
      border-radius: 3px;
      margin: 0 20px 20px 0;
      display: inline-block;
      padding: 20px;
      .cheerup_info {
        font-size: 0.8em;
        display: inline;
        margin-right: 7px;
      }
      a {
        font-size: 0.8em;
        margin-right: 7px;
      }
    }
  }

  aside {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    // border: 1px solid black;
    #create_cheerup {
      cursor: pointer;
      // border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
      background-color: rgb(255, 140, 0);
      color: $background-color;
      h4 {
        display: inline-block;
      }
      i {
        float: right;
        font-size: 1.5em;
      }
      form {
        #cheerup_content {
          width: 100%;
          font-size: 0.8em;
          color: rgb(35,31,32);
        }
      }
    }
  }

  td {
    padding: 5px 15px;
  }
}

.hidden {
  display: none;
}
